{% extends 'menu2.html' %}

{% block content %}
<br>
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><b>Últimas noticas en {{categoria}}</b>
      
    </h1>

    <ol class="breadcrumb" style="box-shadow: 0px 2px 10px rgba(0, 0, 0, .25);">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Noticias</li>
    </ol>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        {% for p in publicaciones %}
        <div class="card mb-4" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, .25);">
          <img class="card-img-top" src="../../media/{{p.foto_portada}}" height="340">
          <div class="card-body">
            <h2 class="card-title">{{p.titulo}}</h2>
            <p class="card-text">{{p.resumen}}</p>
            <a href="{% url 'post_detail' pk=p.pk %}" class="btn btn-primary">Ver más &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Publicado el {{p.fecha_publicacion}} - Categoría
            <a href="#">{{p.categoria}}</a>
          </div>
        </div>
        {% endfor %}

        


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Partidos Widget -->
        <div class="card mb-4" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, .25);">
            <h5 class="card-header">Próximos partidos</h5>
            <div class="card-body">
                  {% for s in fecha %}
                  <h5 class="text-center">{{s.nombre_fecha}}</h5>
                  {% endfor%}
                  
                  {% for p in partidos %}
                          <hr>
                          <h6 class="text-center">{{p.fecha_partido}} hs.</h6>
                          <div class="row">
                              <div class="col-md-12">
                                  <p class="text-center">Categoria: {{p.categoria__nombre_categoria}}</p>
                                </div>
                                  <div class="col-md-4">
                                      <img style="border-radius: 50%;" class="img-fluid" src="/media/{{p.equipo1__logo_equipo}}" alt="">
                                      <p class="text-center">{{p.equipo1__abreviacion}}</p>
                                  </div>
                                  <div class="col-md-4">
                                          <p style="margin-top: 50%;" class="text-center form-control"><b>vs</b></p>
                                  </div>                          
                                  <div class="col-md-4">
                                          <img style="border-radius: 50%;" class="img-fluid" src="/media/{{p.equipo2__logo_equipo}}" alt="">
                                          <p class="text-center">{{p.equipo2__abreviacion}}</p>
                                  </div>
                          </div>
                         
                  
                  {% endfor %}
            </div>
          </div>

        <!-- Facebook Widget -->
        
        <div class="card my-4" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, .25);">
            
          <h5 class="card-header">Seguinos en Facebook</h5>
          <div class="card-body">
              
                <div class="fb-page" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, .25);"
                data-href="https://www.facebook.com/ATEBCORDOBA" 
                data-width="400"
                data-hide-cover="false"
                data-show-facepile="true">
                </div>           
          </div>
        </div>
      


        

      </div>

    </div>
    <!-- /.row -->

  </div>
<footer class="py-5 bg-primary">
    <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ateb 2019</p>
    </div>
</footer>

{% endblock %}